<div class="row mt-2">
  <div class="col-md-12">
    <button
      class="btn btn-rounded btn-primary mb-2"
      type="button"
      (click)="openDialog(null, true)"
      *ngIf="getPermisos('ROLE_ADMIN')"
    >
      Crear cliente
    </button>
    <hr />
    <h3>Lista de clientes</h3>
    <div *ngIf="clientes.length; then tablaUsuarios; else alertMensaje"></div>

    <ng-template #alertMensaje>
      <div class="alert alert-info" role="alert">Sin registros de usuarios</div>
    </ng-template>
    <ng-template #tablaUsuarios>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" *ngIf="getPermisos('ROLE_USER')">Foto</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Email</th>
              <th scope="col">Fecha creación</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
              <td *ngIf="getPermisos('ROLE_USER')">
                <img
                  style="height: 50px; width: 50px"
                  src="http://localhost:8080/api/uploads/img/{{ cliente.foto }}"
                  alt="{{ cliente.nombre }}"
                  title="{{ cliente.nombre }}"
                  *ngIf="cliente.foto"
                  class="img-thumbnail"
                />
                <img
                  style="height: 50px; width: 50px"
                  src="http://localhost:8080/api/uploads/img/user-not-found.png"
                  alt="{{ cliente.nombre }}"
                  title="{{ cliente.nombre }}"
                  *ngIf="!cliente.foto"
                  class="img-thumbnail"
                />
              </td>
              <td>{{ cliente.nombre.toUpperCase() }}</td>
              <td>{{ cliente.apellido }}</td>
              <td>{{ cliente.email }}</td>
              <td>{{ cliente.createAt | date: 'EEEE dd, MMMM yyyy' }}</td>
              <td>
                <!-- ver-->
                <i
                  class="fa fa-eye"
                  (click)="openDialog(cliente, false)"
                  *ngIf="getPermisos('ROLE_USER')"
                ></i>
                <!-- actualizar-->
                <i
                  class="fa fa-pencil-square-o ml-1"
                  (click)="openDialog(cliente, true)"
                  *ngIf="getPermisos('ROLE_ADMIN')"
                ></i>
                <!-- Nueva factura-->
                <i
                  class="fa fa-file-archive-o ml-1"
                  (click)="nuevaFactura(cliente)"
                  *ngIf="getPermisos('ROLE_ADMIN')"
                ></i>
                <!-- eliminar-->
                <i
                  class="fa fa-trash-o ml-1"
                  (click)="deleteCliente(cliente)"
                  *ngIf="getPermisos('ROLE_ADMIN')"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-paginator
        [lstPages]="lstPages"
        [currentPage]="currentPage"
        [isLast]="isLast"
        [isFirst]="isFirst"
        [totalPages]="totalPages"
      ></app-paginator>
    </ng-template>
  </div>
</div>
