<div class="alert alert-info mb-2" role="alert">REGISTRAR FACTURA</div>
<ul class="list-group mb-2">
  <li class="list-group-item list-group-item-secondary">Datos del cliente</li>
  <li class="list-group-item">Nombre: {{ factura?.cliente?.nombre }}</li>
  <li class="list-group-item">Apellido: {{ factura?.cliente?.apellido }}</li>
</ul>

<form [formGroup]="facturaForm" autocomplete="off">
  <div class="form-group">
    <label>Descripción</label>
    <input
      type="text"
      class="form-control"
      formControlName="descripcion"
      [class.is-invalid]="validateFormControl('descripcion')"
    />
    <small
      class="text-form text-danger"
      *ngIf="validateFormControl('descripcion')"
      >El campo es requerido</small
    >
  </div>
  <div class="form-group">
    <label>Observación</label>
    <input
      type="text"
      class="form-control"
      formControlName="observacion"
      [class.is-invalid]="validateFormControl('observacion')"
    />
    <small
      class="text-form text-danger"
      *ngIf="validateFormControl('observacion')"
      >El campo es requerido</small
    >
  </div>

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Seleccione un producto"
        aria-label="Productos"
        matInput
        [formControl]="productoInput"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="mostrarNombre"
        (optionSelected)="productoSeleccionado($event)"
      >
        <mat-option
          *ngFor="let producto of productosFiltrados | async"
          [value]="producto"
        >
          {{ producto.nombre }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Sub total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of factura?.items; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.producto.nombre }}</td>
        <td>{{ item.producto.precio }}</td>
        <td>{{ item.cantidad }}</td>
        <td>{{ item.calcularImporte() }}</td>
      </tr>
    </tbody>
  </table>
</form>
