<div class="alert alert-info mb-2" role="alert">REGISTRAR FACTURA</div>

<div class="form-row">
  <div class="form-group col-md-6 col-sm-12">
    <label for="nombres">Nombres</label>
    <input
      type="text"
      class="form-control form-control-sm"
      id="nombres"
      readonly
      value="{{ factura?.cliente?.nombre }}"
    />
  </div>
  <div class="form-group col-md-6 col-sm-12">
    <label for="apellidos">Apellidos</label>
    <input
      type="text"
      class="form-control form-control-sm"
      id="apellidos"
      readonly
      value="{{ factura?.cliente?.apellido }}"
    />
  </div>
</div>

<form [formGroup]="facturaForm" autocomplete="off">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label>Descripción</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="descripcion"
          value="descripcion"
          autofocus
          [class.is-invalid]="validateFormControl('descripcion')"
        />
        <small
          class="text-form text-danger"
          *ngIf="validateFormControl('descripcion')"
          >El campo es requerido</small
        >
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label>Observación</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="observacion"
          [class.is-invalid]="validateFormControl('observacion')"
        />
        <small
          class="text-form text-danger"
          *ngIf="validateFormControl('observacion')"
          >El campo es requerido</small
        >
      </div>
    </div>
  </div>

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Seleccione un producto"
        aria-label="Productos"
        matInput
        [formControl]="productoInput"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="mostrarNombre"
        (optionSelected)="productoSeleccionado($event)"
      >
        <mat-option
          *ngFor="let producto of productosFiltrados | async"
          [value]="producto"
        >
          {{ producto.nombre }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Importe</th>
      </tr>
    </thead>
    <tbody formArrayName="items">
      <tr
        *ngFor="let item of detalle.controls; let i = index"
        [formGroupName]="i"
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <input
            class="form-control form-control-sm"
            type="text"
            formControlName="producto"
          />
        </td>
        <td>
          <input
            class="form-control form-control-sm"
            type="text"
            formControlName="precio"
          />
        </td>
        <td>
          <input
            class="form-control form-control-sm"
            type="text"
            formControlName="cantidad"
            (blur)="calcularImporte(i)"
          />
          <small
            class="text-form text-danger"
            *ngIf="item.get('cantidad').errors?.required"
            >El campo es requerido</small
          >
        </td>
        <td>
          <input
            class="form-control form-control-sm"
            type="text"
            formControlName="importe"
          />
        </td>
      </tr>
    </tbody>
  </table>
</form>
<p>{{ facturaForm.status }}</p>
<pre>
  {{ facturaForm.value | json }}
</pre>
